In [13]:
import pandas as pd
import numpy as np
import seaborn as sns

In [14]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [15]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('planets')

print(df.head())

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [16]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('planets')

print(df.tail())

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

In [17]:
import pandas as pd

df = sns.load_dataset('planets')

methods = dir(sns.load_dataset('planets'))

print("Toplam dataframe unique metodu sayisi:", len(methods))

Toplam dataframe unique metodu sayisi: 444

### What is the number of data collected in each year?

In [18]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('planets')

yearlyCounts = df.groupby('year').size()

print(yearlyCounts)

year
1989      1
1992      2
1994      1
1995      1
1996      6
1997      1
1998      5
1999     15
2000     16
2001     12
2002     32
2003     25
2004     26
2005     39
2006     31
2007     53
2008     74
2009     98
2010    102
2011    185
2012    140
2013    118
2014     52
dtype: int64

### Which columns have missing values and how many?

In [19]:
missingValues = df.isnull().sum()

print("Eksik değerleri olan sütunlar ve sayıları:")
print(missingValues[missingValues > 0])

Eksik değerleri olan sütunlar ve sayıları:
orbital_period     43
mass              522
distance          227
dtype: int64

### Write docstring for the function below and Call do_something function for the (11,13,15) values and save it as result.

In [20]:
# Docstring (documentation string): Fonksiyonu açıklarız


def do_something(x, y, z):
    """
    Calculates the reciprocal sum of three numbers.

    Parameters:
    - x (float): The first number.
    - y (float): The second number.
    - z (float): The third number.

    Returns:
    float: The reciprocal sum of the three numbers.
    """
    result = 1 / x + 1 / y + 1 / z
    return 1 / result


result = do_something(11,13,15)
print(result)

4.26441351888668

### Get (print) the docstring of the function defined above.

In [21]:
def do_something(x, y, z):
    """
    Calculates the reciprocal sum of three numbers.

    Parameters:
    - x (float): The first number.
    - y (float): The second number.
    - z (float): The third number.

    Returns:
    float: The reciprocal sum of the three numbers.
    """
    result = 1 / x + 1 / y + 1 / z
    return 1 / result


print(do_something.__doc__)

    Calculates the reciprocal sum of three numbers.

    Parameters:
    - x (float): The first number.
    - y (float): The second number.
    - z (float): The third number.

    Returns:
    float: The reciprocal sum of the three numbers.

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [24]:
def do_something(x, y, z):

    result = 1 / x + 1 / y + 1 / z
    return 1 / result

result = do_something(11, 13, 15)

s = "I love Machine Learning and Deep Learning"
index_as_int = int(result)
word = s.split()[index_as_int]

print(result, word)

4.26441351888668 and

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [10]:
import random

arr = [random.randint(1, 100) for _ in range(10)]
print("Original Array:", arr)

def selection_sort(arr):
    n = len(arr)

    for i in range(n-1):
        min = i
        for j in range(i+1, n):
            if arr[j] < arr[min]:
                min = j

        arr[i], arr[min] = arr[min], arr[i]


selection_sort(arr)

print("Sorted Array:", arr)

### define a recursive function to calculate input numbers factorial named factorial

In [26]:
def factorial(n):
    result = 1
    for i in range(1, n+1):   # n+1 dahil edilmez
        result *= i
        print(i)
    return result


result = factorial(5)
print(f"The factorial of {5} is: {result}")

1
2
3
4
5
The factorial of 5 is: 120

### define a function to merge the given arrays and calculate the median named twoMedian

In [25]:
def twoMedian(arr1, arr2):
    merged_array = arr1 + arr2

    merged_array.sort()

    n = len(merged_array)
    if n % 2 == 0:
        mid1 = merged_array[n // 2 - 1]
        mid2 = merged_array[n // 2]
        median = (mid1 + mid2) / 2
    else:
        median = merged_array[n // 2]

    return median